<div class="row">
  <div class="col-lg-12" [align]="'end'" style="height: 2rem;">
    <button class="icon-button-large"
            mat-icon-button
            color="#FFFFFF"
            (click)="openDialog()"
            matTooltip="Click for expand the dashboard section."
            matTooltipPosition="below"
          >
      <mat-icon>fullscreen</mat-icon></button>
  </div>
  
  <div class="col-lg-12" *ngIf="loading">
     <app-kanban [editable]="false"></app-kanban> 
  </div>
  <!-- <div class="col-lg-12">
    <app-profit-expenses></app-profit-expenses>
  </div> -->
  <!-- <div class="col-lg-4">
    <app-traffic-distribution></app-traffic-distribution>
    <app-product-sales></app-product-sales>
  </div> -->
</div>

<!-- <div class="row">
  <div class="col-lg-4">
    <app-upcoming-schedules></app-upcoming-schedules>
  </div>
  <div class="col-lg-8">
    <app-top-employees></app-top-employees>
  </div>
</div> -->

<!-- <app-blog></app-blog> -->