<div class="board-wrapper" *ngIf="loading">

  <div class="row" cdkDropListGroup>
    <mat-card class="col-lg-4 cardWithShadow theme-card m-y-5"  *ngFor="let column of board?.columns; let i = index">

      <mat-card-header>
        <mat-card-title class="m-b-0" align="center"><h2 style="text-align: center;">{{ column.name }}</h2></mat-card-title>
      </mat-card-header>
 
      <div class="card tasks-container" cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event,column.tasks)">
        <div class="task" *ngFor="let item of column.tasks" cdkDrag>
            
          <div class="row">
            <div class="col-lg-12">
              <!-- {{ item }} -->
              <h1>  <b>Order No.:</b> {{ item.order_name | uppercase  }}</h1>
              
            </div>
            <div class="col-lg-6">
              <h3>Shipping date:</h3>
              <p style="font-size: 1.25rem;">{{ item.order_ships_by | date:'dd/MM/yyyy'}}</p>
            </div>
            <div class="col-lg-6">
              <h3>Quantity:</h3>
              <p style="font-size: 1.25rem;">{{ item.amount }}</p>
            </div>
            <div class="col-lg-6">
              <h3>Status:</h3>
              <p style="font-size: 1.25rem;">{{ item.state_name }}</p>
            </div>
            <div class="col-lg-6">
              <h3>Arrived:</h3>
              <p style="font-size: 1.25rem;">{{ item.order_arrives  | date:'dd/MM/yyyy' }}</p>
            </div>
        </div>
      </div>
      </div>
    </mat-card>

  </div>

</div>