<div class="board-wrapper" *ngIf="loading">

  <div class="row" cdkDropListGroup>
    <mat-card class="col-lg-4 cardWithShadow theme-card m-y-5"  *ngFor="let column of board.columns">

      <mat-card-header>
        <mat-card-title class="m-b-0">{{ column.name }}</mat-card-title>
      </mat-card-header>
 
      <div class="card " cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event)">
        <div class="task" *ngFor="let item of column.tasks" cdkDrag>

          <div class="row">
            <div class="col-lg-12">
              
              <!-- {{ item }} -->
              Order No.: {{ item.order_name }}
            </div>
            <div class="col-lg-6">
              <h5>Shipped By:</h5>
              <p>{{ item.order_ships_by }}</p>
            </div>
            <div class="col-lg-6">
              <h5>Amount:</h5>
              <p><p>{{ item.amount }}</p>
            </div>
            <div class="col-lg-6">
              <h5>Status:</h5>
              <p>{{ item.state_name }}</p>
            </div>
            <div class="col-lg-6">
              <h5>Arrived:</h5>
              <p><p>{{ item.order_arrives }}</p>
            </div>
        </div>
      </div>
      </div>
    </mat-card>

  </div>

</div>